@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;200;300;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans';
}



html {
    scroll-behavior: smooth;
}

/*MENU*/

.container-header {
    background: #1E2326FF;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 99;
}

.container-header header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.container-header header .log a {
    font-family: 'Righteous';
    font-size: 36px;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.container-header header ul {
    display: flex;
    list-style: none;
}

.container-header header nav ul li a {
    text-align: center;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    text-decoration: none;
    transition: 0.5s;
    font-size: 13px;
}

.container-header header nav ul li a:hover {
    color: #8E84FF;
}

.nav-responsive {
    background-color: #8E84FF;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    display: none;
    font-size: 30px;
}

/*I N I C I O*/

.inicio {
    background: linear-gradient(to top, rgb(30, 35, 38, .8), rgb(30, 35, 38)),
    url(img/descubre-los-6-lenguajes-de-programacion-con-mas-demanda-en-el-2023.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}

.inicio .container-banner {
    padding: 20px;
    background-color: rgba(25, 25, 25, 0.8);
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.inicio .container-banner img {
    margin-top: 40px;
    display: block;
    padding: 5px;
    width: 100%;
    margin: auto;
}

.inicio .container-banner h1 {
    margin-top: 40px;
    font-size: 30px;
    font-family: 'Righteous';
}

.inicio .container-banner h2 {
    font-size: 15px;
    font-weight: normal;
}

.inicio .container-banner .redes a {
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    border: solid #ffffff 1px;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: 0.3s;
}

.inicio .container-banner .redes a:hover {
    background-color: #8E84FF;
}

/*SOBRE MI*/

.sobremi {
    background-color: #1e2326;
    color: white;
    padding: 50px 20px;
}

.sobremi .container-section {
    max-width: 1100px;
    margin:  auto;
}

.sobremi h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}

.sobremi .container-section p {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.sobremi .container-section p span {
    color: #8E84FF;
    font-weight: bold;
}

.sobremi .fila {
    display: flex;
}

.sobremi .fila .col {
    width: 50%;
}

.sobremi .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin: 30px 0;
}

.sobremi .fila .col ul {
    list-style: none;
    font-size: 14px;
}

.sobremi .fila .col ul li {
    margin: 12px 0;
}

.sobremi .fila .col ul li strong {
    display: inline-block;
    color: #8E84FF;
    width: 100px;
}

.sobremi .fila .col ul li span {
    background-color: #8E84FF;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

.sobremi .fila .col .container-intereses {
    display: flex;
    flex-wrap: wrap;
}

.sobremi .fila .col .container-intereses .intereses {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    transition: .3s;
    width: 100px;
    height: 100px;
    background-color: #252A2E;
    border-radius: 10px;
    margin: 0 15px 15px 0;
}

.sobremi .fila .col .container-intereses .intereses:hover {
    background-color: #8E84FF;
}

.sobremi .fila .col .container-intereses .intereses i {
    font-size: 30px;
    margin-bottom: 10px;
}

.sobremi button {
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.sobremi button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #8E84FF;
    z-index: -1;
    transition: 1s;
}

.sobremi button:hover .overlay {
    width: 100%;
}

/*Section Skill */

.skills {
    background-color: #252A2E;
    color: white;
    padding: 50px 20px;
}

.skills .container-section {
    max-width: 1100px;
    margin: auto;
}

.skills h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.skills .fila {
    display: flex;
}

.skills .fila .col {
    width: 50%;
    padding: 0 20px;
}

.skills .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin: 30px 0;
}

.skills .skill > span {
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
}

.skills .skill .barra-skill {
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}

.skills .skill .progress {
    background-color: #8E84FF;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}

.skills .skill .barra-skill span {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #8E84FF;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}

.skills .skill .javascript {
    width: 0%;
    animation: 2s javascript forwards;
}

@keyframes javascript {
    0% {
        width: 0%;
    }
    100% {
        width: 75%;
    }
}

.skills .skill .htmlcss {
    width: 0%;
    animation: 2s htmlcss forwards;
}

@keyframes htmlcss {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

.skills .skill .angular {
    width: 0%;
    animation: 2s angular forwards;
}

@keyframes angular {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

.skills .skill .tailwind {
    width: 0%;
    animation: 2s tailwind forwards;
}

@keyframes tailwind {
    0% {
        width: 0%;
    }
    100% {
        width: 75%;
    }
}

.skills .skill .bootstrap {
    width: 0%;
    animation: 2s bootstrap forwards;
}

@keyframes bootstrap {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

.skills .skill .lit {
    width: 0%;
    animation: 2s lit forwards;
}

@keyframes lit {
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
}

.skills .skill .comunicacion {
    width: 0%;
    animation: 2s comunicacion forwards;
}

@keyframes comunicacion {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}


.skills .skill .equipo {
    width: 0%;
    animation: 2s equipo forwards;
}

@keyframes equipo {
    0% {
        width: 0%;
    }
    100% {
        width: 95%;
    }
}

.skills .skill .dedicacion {
    width: 0%;
    animation: 2s dedicacion forwards;
}

@keyframes dedicacion {
    0% {
        width: 0%;
    }
    100% {
        width: 85%;
    }
}

.skills .skill .project {
    width: 0%;
    animation: 2s project forwards;
}

@keyframes project {
    0% {
        width: 0%;
    }
    100% {
        width: 94%;
    }
}

.skills .skill .adaptabilidad {
    width: 0%;
    animation: 2s adaptabilidad forwards;
}

@keyframes adaptabilidad {
    0% {
        width: 0%;
    }
    100% {
        width: 86%;
    }
}

.skills .skill .creatividad {
    width: 0%;
    animation: 2s creatividad forwards;
}

@keyframes creatividad {
    0% {
        width: 0%;
    }
    100% {
        width: 92%;
    }
}

/*SECCION CURRICULUM*/

.curriculum {
    background-color: #131517;
    color: white;
    padding: 50px 20px;
}

.curriculum .container-section {
    max-width: 1100px;
    margin: auto;
}

.curriculum h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.curriculum .fila {
    display: flex;
    justify-content: space-between;
}

.curriculum .fila .col {
    width: 49%;
    padding: 0 20px;
}

.curriculum .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin: 30px 0;
}

.curriculum .fila .left {
    border-right: 2px solid #252A2E;
}

.curriculum .fila .right {
    border-left: 2px solid #252A2E;
}

.curriculum .fila .item {
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252A2E;
    position: relative;
}


.curriculum .fila .item h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.curriculum .fila .item .casa {
    display: block;
    color: #8E84FF;
    font-size: 20px;
    font-weight: bold;
}

.curriculum .fila .item .fecha {
    display: block;
    color: #8E84FF;
    margin-bottom: 10px;
    font-size: 12px;
}

.curriculum .fila .item p {
    line-height: 24px;
}

.curriculum .fila .izquierda {
    border-right: #252A2E solid 4px;
}

.curriculum .fila .derecha {
    border-left: #252A2E solid 4px;
}

.curriculum .fila .left {
    border-right: #8E84FF solid 4px;
    margin-right: 20px;
}

.curriculum .fila .right {
    border-left: #8E84FF solid 2px;
    margin-left: 20px;
}

.curriculum .fila .item .conectori {
    height: 1px;
    background-color: #8E84FF;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}

.curriculum .fila .item .conectori .circului {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #8E84FF;
    float: right;
    position: relative;
    bottom: 4px;
}

.curriculum .fila .item .conectord {
    height: 1px;
    background-color: #8E84FF;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}

.curriculum .fila .item .conectord .circulud {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #8E84FF;
    float: left;
    position: relative;
    bottom: 4px;
}

/*SECCION PORTAFOLIO*/

.portafolio {
    background-color: #252A2E;
    color: white;
    padding: 50px 20px;
}

.portafolio .container-section {
    max-width: 1100px;
    margin: auto;
}

.portafolio h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.portafolio .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portafolio .galeria .proyecto {
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}

.portafolio .galeria .proyecto img {
    width: 100%;
    display: block;
}

.portafolio .galeria .proyecto .overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgb(142, 132, 255, .8), rgb(142, 132, 255, .8));
    opacity: 0;
}

.portafolio .galeria .proyecto .overlay h3 {
    margin-bottom: 20px;
    transition: 1s;
}

.portafolio .galeria .proyecto .overlay:hover {
    opacity: 1;
}

.portafolio .galeria .proyecto .overlay:hover h3 {
    margin-bottom: 0;
}

/*SECCION CONTACTO*/

.contacto {
    background-image: url("img/contact_bg.png");
    background-color: #131517;
    color: #ffffff;
    padding: 50px 0;
}

.contacto .container-section {
    max-width: 1100px;
    margin: auto;
}

.contacto h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.contacto .fila {
    display: flex;
}

.contacto .col {
    width: 50%;
    padding: 10px;
    position: relative;
}

.contacto .col input, .contacto .col textarea {
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    background-color: #252A2E;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 18px;
}

.contacto button {
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.contacto button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #8E84FF;
    z-index: -1;
    transition: 1s;
}

.contacto button:hover .overlay {
    width: 100%;
}

.contacto .col img {
    width: 100%;
}

.contacto .col .info {
    position: absolute;
    top: 40%;
    padding: 10px;
    background-color: #252A2E;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contacto .col .info ul {
    list-style: none;
}

.contacto .col .info ul li {
    margin-bottom: 20px;
}

.contacto .col .info ul li i {
    color: #8E84FF;
    display: inline-block;
    margin-right: 20px;
}

footer {
    background-color: #252A2E;
    color: #ffffff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

footer .redes {
    margin-bottom: 20px;
}

footer .redes a {
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    border: solid #ffffff 1px;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: 0.3s;
}

footer .redes a:hover {
    background-color: #8E84FF;
}

footer .arriba {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #8E84FF;
    color: #ffffff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -30%;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
    transition: 0.3s;
}

footer .arriba:hover{
    font-size: 30px;
    width: 55px;
    height: 52px;
    background-color: #ffffff;
    color: #8E84FF;
}

@media screen and   (max-width: 980px) {
    nav {
        display: none;
    }

    .nav-responsive {
        display: block;
    }
    nav.responsive {
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul {
       display: block !important;
    }
    nav.responsive ul li {
        border-bottom: 1px solid #ffff;
        padding: 10px 0;

    }
}

@media screen and (max-width: 700px) {
    .sobremi .fila{
        display: block;
    }

    .sobremi .fila .col{
        width: fit-content;
    }
    .sobremi .fila .col .container-intereses {
        justify-content: center;
    }
    .skills .fila{
        display: block;
    }

    .skills .fila .col{
        width: fit-content;
    }

    .skills .fila .col .barra-skill{
        width: 100%;
    }

    .curriculum .fila{
        display: block;
    }
    .curriculum .fila .col{
        width: 90%;
    }
    .curriculum .fila .derecha{
        margin-left: 20px;
    }

    .portafolio .galeria{
        display: block;
        width: 100%;
    }
    .portafolio .galeria .proyecto{
        max-width: 100%;
    }
    .portafolio .galeria .proyecto img{
        width: 100%;
    }

    .contacto .fila{
        display: block;
    }

    .contacto .fila .col{
        width: 100%;
    }

    footer .arriba{
        top: 5%;
    }
}
